/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Colors and typography */
:root {
  --purple50: hsl(260 100% 95%);
  --purple300: hsl(264 82% 80%);
  --purple500: hsl(263 55% 52%);

  --white: hsl(0 0% 100%);
  --grey100: hsl(214 17% 92%);
  --grey200: hsl(0 0% 81%);
  --grey400: hsl(224 10% 45%);
  --grey500: hsl(217 19% 35%);
  --dark-blue: hsl(219 29% 14%);
  --black: hsl(0 0% 7%);

  --bg-body: hsl(300 5% 96%);
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 500; /* Medium */
  font-display: swap;
  src: url(./fonts/BarlowSemiCondensed-Medium-subset.woff2) format(woff2);
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 600; /* Semibold */
  font-display: swap;
  src: url(./fonts/BarlowSemiCondensed-SemiBold-subset.woff2) format(woff2);
}

/* General styles and layout */
body {
  display: flex;
  flex-direction: column;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem; /* 0.8125rem => 0.8125 * 16px = 13px */
  line-height: 1.4;
  color: var(--grey400);
  background-color: var(--bg-body);
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  padding: 2.5rem 2rem;
  align-items: center;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Testimonials */
.testimonials-grid {
  display: grid;
  gap: 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--txt-clr-2);
  background-color: var(--bgr-clr);
  border-radius: 0.5rem;
  box-shadow: 40px 60px 50px -47px var(--grey500);
  padding: 2rem;
}

.daniel {
  --txt-clr-1: var(--white); /* name,  highlight*/
  --txt-clr-2: var(--purple50); /* status, quote */
  --bgr-clr: var(--purple500); /* background */
  --img-clr: var(--purple300); /* image border */
}

.jonathan {
  --txt-clr-1: var(--white);
  --txt-clr-2: var(--grey100);
  --bgr-clr: var(--grey500);
}

.jeanette,
.kira {
  --txt-clr-1: var(--grey500);
  --txt-clr-2: var(--grey400);
  --bgr-clr: var(--white);
}

.patrick {
  --txt-clr-1: var(--grey200);
  --txt-clr-2: var(--grey100);
  --bgr-clr: var(--dark-blue);
  --img-clr: var(--purple500);
}

.testimonial__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 1.1;
}

.testimonial__avatar {
  border-radius: 50%;
  height: 2.5em;
}
.avatar--border {
  border: 0.125rem solid var(--img-clr);
}

.testimonial__name {
  font-size: 0.8125rem; /* 0.8125rem => 0.8125 * 16px = 13px */
  color: var(--txt-clr-1);
}

.testimonial__status {
  font-size: 0.6875rem; /* 0.6875rem => 0.6875 * 16px = 11px */
  margin-top: 0.25rem;
}

.testimonial__highlight {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--txt-clr-1);
}

@media (min-width: 32rem) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .daniel {
    grid-column: span 2;
  }

  .patrick {
    grid-column: span 2;
  }

  .kira {
    grid-column: span 2;
  }
}

/* Footer */
.attribution {
  font-size: 0.6875rem; /* 0.6875rem => 0.6875 * 16px = 11px */
  text-align: center;
  padding-bottom: 2rem;
}
.attribution a {
  color: var(--purple500);
}
